/* font-family: 'Arima Madurai', cursive;
font-family: 'Bellota Text', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Sansita Swashed', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&family=Bellota+Text:wght@300;700&family=Comfortaa:wght@300;400&family=Sansita+Swashed:wght@500;600&display=swap");
body {
    background-color: #e0eeec;
}

.navcss {
    background-color: #135952;
    /* background image source and credit to: https://jooinn.com/snowy-mountain-2.html */
    background-image: linear-gradient(0deg, #0e302ee5, #143a37ec), url("../assets/logo/snowy-mountain-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    position: relative;
}

navbar-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navitext {
    color: red;
}

.navbutton {
    padding: 15px;
}

.mainbutton {
    color: white;
}

.home-paragraph {
    text-align: center;
    text-align-last: center;
    font-family: "Bellota Text", cursive;
    font-weight: 700;
}

.home-carousel-item {
    width: auto;
    height: auto;
    max-height: 50vh;
    display: block;
}

.home-wayfarer {
    font-family: 'Arima Madurai', cursive;
    color: #135952;
    font-size: 50px;
    background-color: #DCEAE4;
    padding: 5px 40px 1px;
    border-radius: 15px;
}

.profile-body {
    font-family: 'Arima Madurai', cursive;
    font-weight: 700;
}

.cardbg {
    backdrop-filter: blur(6px);
}

.city-body {
    background-image: linear-gradient(#EDFFE9, #ddfafa);
    font-family: 'Arima Madurai', cursive;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 0px 15px 15px;
}

.city-nav-header {
    background-image: linear-gradient(45deg, #f5e2c9, transparent);
    padding: 7px 0px 0px 18px;
    border-radius: 10px 10px 0px 0px;
}

.city-nav-body {
    background-image: linear-gradient(360deg, #8EBEBB, transparent);
    border-radius: 0px 0px 10px 10px;
}

.media-frame {
    background-image: linear-gradient(#4aa39d, #68b4b4);
    padding: 25px;
    border-radius: 15px 15px 0px 0px;
    color: white;
}

.city-name-buttons {
    background-image: linear-gradient(45deg, #4aa39d, #FFB556);
    border-radius: 15px;
}

.post-feature {
    position: absolute;
    bottom: 0;
    right: 0;
}

.img-post {
    width: 50px;
}