/* font-family: 'Bellota Text', cursive;
font-family: 'Comfortaa', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Comfortaa:wght@400;500&display=swap');
body {
    background-color: #E0EEEC;
}

.navcss {
    background-color: #135952;
}

.navitext {
    color: red;
}

.navbutton {
    padding: 15px;
}

.mainbutton {
    color: white;
}

.editbutton {
    background-color: #72758F;
}

.cardbg {
    backdrop-filter: blur(6px);
}
