{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col" style="color: #135952;">

            <!--SECTION Post Card -->
            <div class="card shadow-lg p-3 mb-5 rounded" style="width: 50rem;">
                <div class="card-body profile-body">
                    <h1 class="card-title">
                        Title: {{ post.title }}
                    </h1>
                    <p>Author: 
                        <br>
                        {{post.author}} 
                    </p>
                    <p>Content: 
                        <br>
                        {{ post.content }} 
                    </p>

                    <!--SECTION Post Edit Button-->
                    <div class="card-action">
                        <a href="{% url 'post_edit' post.id %}" class="btn btn-light btn-sm" style="background-color: #135952; color: #E0EEEC;">
                            Edit Post
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">
    Delete
  </button>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'post_delete' post.id %}" method="POST">
        <div class="modal-body">
            {% csrf_token %}
          Are you sure you want to delete {{post.title}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary" value="Delete Post">
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}