{% extends 'base.html' %}
{% block modal %}

                {% if user.is_authenticated %}
                    <p>Welcome, {{user.first_name}}</p>
                    <a href="{% url 'logout' %}"><input type="submit" class="btn btn-primary" value="Log Out"></a> 
                {% else %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal"> Sign Up </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal"> Log In </button>  
                {%endif%}          
               
                <!-- SECTION Modal  -->
                <!-- Sign Up-->
                <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="SignupModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" >Sign up</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% if error %}
                              <div class="alert alert-danger" role="alert">{{error}}</div>
                              <script>alert("{{error}}")</script>
                            {% endif %}
                            <form method="POST" action={% url 'register'%}>
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="row">
                                      <div class="col">
                                        <p>
                                          <label for="first_name">First Name: </label>
                                          <input type="text" class="form-control" name="first_name"  maxlength="25" minlength="2" placeholder="Enter Your First Name" required >
                                        </p>
                                      </div>
                                      <div class="col">  
                                        <p>
                                          <label for="last_name">Last Name: </label>
                                          <input type="text" class="form-control" name="last_name"  maxlength="25" minlength="2" placeholder="Enter Your Last Name" required>
                                        </p>
                                      </div>
                                    </div>    
                                    <p>
                                      <label for="email">Email:</label>
                                      <input type="email" class="form-control" name="email"  maxlength="25" minlength="2" placeholder="name@email.com" required>
                                    </p>
                                    <p>
                                      <label for="username">Username:</label>
                                      <input type="text" class="form-control" name="username"  maxlength="25" minlength="2" placeholder="Enter Your User Name" required>
                                    </p>
                                    <p>
                                      <label for="password">Password:</label>
                                      <input type="password" class="form-control" name="password"  maxlength="25" minlength="4" placeholder="Enter Your Password. Max 25 characters. Minimum of 4 characters is required."required>
                                    </p>
                                    <p>
                                      <label for="password2">Confirm Password:</label>
                                      <input type="password" class="form-control" name="password2"  maxlength="25" minlength="4" placeholder="Re-Enter Your Password" required>
                                    </p>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        
                                        <input type="submit" class="btn btn-primary" value="Sign Up">
                                        <input type="hidden" name="next" value="{{ next }}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Sign in/Log in-->
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">

                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" >Log In Page</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% if error %}
                              <div class="alert alert-danger" role="alert">{{error}}</div>
                              <script>alert("{{error}}")</script>
                            {% endif %}
                            <form method="POST" action="{%url 'login' %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <p>
                                      <label for="username">Username</label>
                                      <input type="text" name="username" class="form-control" maxlength="25" minlength="2" required>
                                    </p>
                                    <p>
                                      <label for="password">Password</label>
                                      <input type="password" name="password" class="form-control" maxlength="25" minlength="4" required>
                                    </p>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        
                                        <input type="submit" class="btn btn-primary" value="Login">
                                        <input type="hidden" name="next" value="{{ next }}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
{% endblock %}
{% block content %}
<h1>Test Home Page</h1>

{% endblock %}
