{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col" style="color: #135952;">

            <!--SECTION Update Card -->
            <div class="card shadow-lg p-3 mb-5 rounded" style="width: 50rem;">
                <div class="card-body">
                    <h1 class="card-titile profile-body">
                        Edit Your Account.
                    </h1>

                    <!--SECTION Update Form w/in card -->
                    <form action="{% url 'profile_edit' profile.id %}" method="POST">
                        {% csrf_token %}
                        {{ profile_form.as_p }}

                        <!--SECTION Update btn w/in card -->
                        <div class="card-action" style="font-family: 'Arima Madurai', cursive; font-weight: 700;">
                            <input class="btn btn-light btn-sm" style="background-color: #135952; color: white;" type="submit" value="Update">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


